In [2]:
import os
import pickle
import pandas as pd

Load the stats and advanced stats data:

In [3]:
advs=pickle.load(open("../data/raw/advstats.pickle", "rb"))
stats=pickle.load(open("../data/raw/regstats.pickle", "rb"))

In [4]:
for i,j in stats.items():
    temp = j 
    temp['total'] = (temp['Tm'] == 'TOT')
    temp = temp.sort_values('total', ascending=False).drop_duplicates(['Player','Age']).drop('total', 1)
    print("For Year "+str(i)+": "+str(temp.shape[0])+" rows")
    stats[i]=temp

For Year 2019: 530 rows
For Year 2018: 540 rows
For Year 2017: 486 rows
For Year 2016: 476 rows
For Year 2015: 492 rows
For Year 2014: 482 rows
For Year 2013: 469 rows
For Year 2012: 478 rows
For Year 2011: 452 rows
For Year 2010: 442 rows
For Year 2009: 445 rows
For Year 2008: 451 rows

In [5]:
for i,j in advs.items():
    temp = j 
    temp['total'] = (temp['Tm'] == 'TOT')
    temp = temp.sort_values('total', ascending=False).drop_duplicates(['Player','Age']).drop('total', 1)
    print("For Year "+str(i)+": "+str(temp.shape[0])+" rows")
    advs[i]=temp

For Year 2019: 530 rows
For Year 2018: 540 rows
For Year 2017: 486 rows
For Year 2016: 476 rows
For Year 2015: 492 rows
For Year 2014: 482 rows
For Year 2013: 469 rows
For Year 2012: 478 rows
For Year 2011: 452 rows
For Year 2010: 442 rows
For Year 2009: 445 rows
For Year 2008: 451 rows

In [6]:
combined={}
for (a1,b1),(a2,b2) in zip(stats.items(),advs.items()):
    df = b1.merge(b2, how="inner",on=["Player","Age","Pos","Tm","G"])#,"MP"])
#     pd.DataFrame(sorted(df.values, key=lambda x: x[1].split(' ')[::-1]),columns=df.columns)
    combined[a1]=df.sort_values("Player")
    print("Stats Row for "+str(a1)+": "+str(b1.shape[0])
          +", Adv Row for "+str(a2)+": "+str(b2.shape[0])+", After combined: "+str(df.shape[0]))

Stats Row for 2019: 530, Adv Row for 2019: 530, After combined: 530
Stats Row for 2018: 540, Adv Row for 2018: 540, After combined: 540
Stats Row for 2017: 486, Adv Row for 2017: 486, After combined: 486
Stats Row for 2016: 476, Adv Row for 2016: 476, After combined: 476
Stats Row for 2015: 492, Adv Row for 2015: 492, After combined: 492
Stats Row for 2014: 482, Adv Row for 2014: 482, After combined: 482
Stats Row for 2013: 469, Adv Row for 2013: 469, After combined: 469
Stats Row for 2012: 478, Adv Row for 2012: 478, After combined: 478
Stats Row for 2011: 452, Adv Row for 2011: 452, After combined: 452
Stats Row for 2010: 442, Adv Row for 2010: 442, After combined: 442
Stats Row for 2009: 445, Adv Row for 2009: 445, After combined: 445
Stats Row for 2008: 451, Adv Row for 2008: 451, After combined: 451

In [7]:
for k,v in combined.items():
    v=v.drop(['Rk_x','Unnamed: 19','Unnamed: 24'], axis=1)
    v['Year'] = k
    combined[k]=v

In [8]:
from functools import reduce
combined_stats = reduce(lambda x,y:pd.concat([x,y]),[k for k in combined.values()])

In [9]:
combined_stats.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5743 entries, 521 to 359
Data columns (total 52 columns):
Player    5743 non-null object
Pos       5743 non-null object
Age       5743 non-null object
Tm        5743 non-null object
G         5743 non-null object
GS        5743 non-null object
MP_x      5743 non-null object
FG        5743 non-null object
FGA       5743 non-null object
FG%       5723 non-null object
3P        5743 non-null object
3PA       5743 non-null object
3P%       5019 non-null object
2P        5743 non-null object
2PA       5743 non-null object
2P%       5699 non-null object
eFG%      5723 non-null object
FT        5743 non-null object
FTA       5743 non-null object
FT%       5532 non-null object
ORB       5743 non-null object
DRB       5743 non-null object
TRB       5743 non-null object
AST       5743 non-null object
STL       5743 non-null object
BLK       5743 non-null object
TOV       5743 non-null object
PF        5743 non-null object
PTS       5743 non-null object
Rk_y      5743 non-null object
MP_y      5743 non-null object
PER       5741 non-null object
TS%       5723 non-null object
3PAr      5723 non-null object
FTr       5723 non-null object
ORB%      5741 non-null object
DRB%      5741 non-null object
TRB%      5741 non-null object
AST%      5741 non-null object
STL%      5741 non-null object
BLK%      5741 non-null object
TOV%      5725 non-null object
USG%      5741 non-null object
OWS       5743 non-null object
DWS       5743 non-null object
WS        5743 non-null object
WS/48     5741 non-null object
OBPM      5743 non-null object
DBPM      5743 non-null object
BPM       5743 non-null object
VORP      5743 non-null object
Year      5743 non-null int64
dtypes: int64(1), object(51)
memory usage: 2.3+ MB