In [2]:
import itertools

In [3]:

list1 = [1,2,3,4,5]
list2 = [6,7,8]

In [14]:
[(x,list2) for x in itertools.permutations(list1,len(list2))]

[((1, 2, 3), [6, 7, 8]),
 ((1, 2, 4), [6, 7, 8]),
 ((1, 2, 5), [6, 7, 8]),
 ((1, 3, 2), [6, 7, 8]),
 ((1, 3, 4), [6, 7, 8]),
 ((1, 3, 5), [6, 7, 8]),
 ((1, 4, 2), [6, 7, 8]),
 ((1, 4, 3), [6, 7, 8]),
 ((1, 4, 5), [6, 7, 8]),
 ((1, 5, 2), [6, 7, 8]),
 ((1, 5, 3), [6, 7, 8]),
 ((1, 5, 4), [6, 7, 8]),
 ((2, 1, 3), [6, 7, 8]),
 ((2, 1, 4), [6, 7, 8]),
 ((2, 1, 5), [6, 7, 8]),
 ((2, 3, 1), [6, 7, 8]),
 ((2, 3, 4), [6, 7, 8]),
 ((2, 3, 5), [6, 7, 8]),
 ((2, 4, 1), [6, 7, 8]),
 ((2, 4, 3), [6, 7, 8]),
 ((2, 4, 5), [6, 7, 8]),
 ((2, 5, 1), [6, 7, 8]),
 ((2, 5, 3), [6, 7, 8]),
 ((2, 5, 4), [6, 7, 8]),
 ((3, 1, 2), [6, 7, 8]),
 ((3, 1, 4), [6, 7, 8]),
 ((3, 1, 5), [6, 7, 8]),
 ((3, 2, 1), [6, 7, 8]),
 ((3, 2, 4), [6, 7, 8]),
 ((3, 2, 5), [6, 7, 8]),
 ((3, 4, 1), [6, 7, 8]),
 ((3, 4, 2), [6, 7, 8]),
 ((3, 4, 5), [6, 7, 8]),
 ((3, 5, 1), [6, 7, 8]),
 ((3, 5, 2), [6, 7, 8]),
 ((3, 5, 4), [6, 7, 8]),
 ((4, 1, 2), [6, 7, 8]),
 ((4, 1, 3), [6, 7, 8]),
 ((4, 1, 5), [6, 7, 8]),
 ((4, 2, 1), [6, 7, 8]),
 ((4, 2, 3), [6, 7, 8]),
 ((4, 2, 5), [6, 7, 8]),
 ((4, 3, 1), [6, 7, 8]),
 ((4, 3, 2), [6, 7, 8]),
 ((4, 3, 5), [6, 7, 8]),
 ((4, 5, 1), [6, 7, 8]),
 ((4, 5, 2), [6, 7, 8]),
 ((4, 5, 3), [6, 7, 8]),
 ((5, 1, 2), [6, 7, 8]),
 ((5, 1, 3), [6, 7, 8]),
 ((5, 1, 4), [6, 7, 8]),
 ((5, 2, 1), [6, 7, 8]),
 ((5, 2, 3), [6, 7, 8]),
 ((5, 2, 4), [6, 7, 8]),
 ((5, 3, 1), [6, 7, 8]),
 ((5, 3, 2), [6, 7, 8]),
 ((5, 3, 4), [6, 7, 8]),
 ((5, 4, 1), [6, 7, 8]),
 ((5, 4, 2), [6, 7, 8]),
 ((5, 4, 3), [6, 7, 8])]

In [16]:
df2 = pd.DataFrame([["ABC",2017]], columns=['Player','Year'])

In [17]:
df2

  Player  Year
0    ABC  2017

In [ ]:
df1[df1.Player = ]