In [1]:
import pandas as pd

In [14]:
df1 = pd.DataFrame([['ABC',2018,5,2,3],['ABC',2017,52,21,31],['ABC',2016,15,12,13],['ABC',2015,25,22,3]],columns=['Player','Year','GS','G','MP'])

In [15]:
df1

  Player  Year  GS   G  MP
0    ABC  2018   5   2   3
1    ABC  2017  52  21  31
2    ABC  2016  15  12  13
3    ABC  2015  25  22   3

In [16]:
df2 = pd.DataFrame([["ABC",2017]], columns=['Player','Year'])

In [17]:
df2

  Player  Year
0    ABC  2017

In [ ]:
df1[df1.Player = ]