In [67]:
import pandas as pd
import html5lib
from selenium import webdriver
import time
from selenium.webdriver.common.action_chains import ActionChains
from selenium.common.exceptions import NoSuchElementException        
from selenium.webdriver.support.select import Select

import os

In [51]:
def check_exists(driver,classname):
    try:
        driver.find_element_by_class_name(classname)
    except NoSuchElementException:
        return False
    return True

In [52]:
BBR_URL="http://www.espn.com/nba/salaries/_/year/2019"

In [77]:

chromedriver = "/Applications/chromedriver" # path to the chromedriver executable
os.environ["webdriver.chrome.driver"] = chromedriver


driver = webdriver.Chrome(chromedriver)
driver.get(BBR_URL)

In [78]:
dfs = {}

for i in list(range(2018,2009,-1)):
    time.sleep(2)
#     print("loading "+str(i)+" Free Agents...")
    df = pd.read_html(driver.current_url)[0] #first page
#     print(df.iloc[0,0])
    while check_exists(driver,'jcarousel-next-disabled') == False:
        next = driver.find_element_by_class_name('jcarousel-next')
        next.click()
        time.sleep(5)
        temp = pd.read_html(driver.current_url)[0]
        df = df.append(temp,ignore_index=True)
    years = Select(driver.find_element_by_class_name('tablesm'))
    years.select_by_visible_text(str(i-1)+"-"+str(i))
    dfs[i]=df

In [91]:
dfs[2018].tail(5)

       0                    1                   2        3
477  434  Jonathan Gibson, PG      Boston Celtics  $17,092
478  435     Tarik Phillip, G  Washington Wizards   $9,474
479  436  Duncan Robinson, SF          Miami Heat   $9,474
480  437      Theo Pinson, SG       Brooklyn Nets   $4,737
481  438    Kendrick Nunn, SG          Miami Heat   $4,737

In [82]:
import pickle
with open("../data/raw/salaries.pickle",'wb') as writer:
    pickle.dump(dfs,writer)